* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Primary Color*/
    --cta-text: hsl(356, 100%, 66%);
    --cta-hover-background: hsl(355, 100%, 74%);
    --headings: hsl(208, 49%, 24%);

    /*Neutral Color*/
    --white-text: hsl(0, 0%, 100%);
    --footer-text: hsl(240, 2%, 79%);
    --body-copy: hsl(207, 13%, 34%);
    --footer-bg: hsl(240, 10%, 16%);

    /*Gradient Color*/
    /*Background gradient - Intro/CTA mobile nav:*/
    --very-light-red:  hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
    
    /* Background gradient - body: */
    --very-dark-grey-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);

    /* Fonts */
    --overpass: 'Overpass', sans-serif;
    --ubuntu:'Ubuntu', sans-serif;

    --padding-page: 0 10rem;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    width: 100vw;
    min-height: 100vh;
    font-family: var(--overpass);
    color: var(--body-copy);
}

h1 {
    font-family: var(--ubuntu);
    /* font-weight: 500; */
    color: var(--headings);
}

a {
    text-decoration: none;
}

header {
    font-family: var(--ubuntu);
    width: 100vw;
    height: 70px;
    padding: var(--padding-page);
    margin-top: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 100;
}

.left-nav {
    display: flex;
}

.logo  {
    width: 100px;
    height: auto;
    margin-right: 2em;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--ubuntu);
    /* font-size: 14px; */
}

.login {
    color: white;
    font-family: var(--ubuntu);
    font-weight: 500;
    margin-right: 1em;
    border-radius: 50px;
    padding: 10px 20px;
}

.signup {
    font-family: var(--ubuntu);
    font-weight: 500;
    color: var(--cta-text);
    padding: 10px 20px;
    background-color: white;
    border-radius: 50px;
    transition: 100ms;

}

#hamburger {
    display: none;
    transition: 300ms;
}

.signup:hover {
    color: white;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
    background-color: transparent;
    color: white;
    font-family: var(--ubuntu);
   
    padding: 1rem 1rem;
    cursor: pointer;
}

.dropdown-menu {
    font-family: var(--ubuntu);
    width: auto;
    display: none;
    position: absolute;
    z-index: 100;

    background-color: white;
    padding: 1rem;
    border-radius: 0 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}



.dropdown-menu a{
    text-decoration: none;
    display: block;
    color: var(--body-copy);
    padding: 10px 5px;
    transition: 300ms;
}

.dropdown-menu a::after {
    content: " ";
    display: block;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right,
    var(--very-light-red),
    var(--light-red)
    );
    background-repeat: no-repeat;
    transition: 300ms;
    border-radius: 100px;
}

.dropdown-menu a:hover {
    font-weight: 700;
}

.dropdown-menu a:hover:after {
    width: 100%;
}


.intro {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-bottom-left-radius: 100px;

    background: linear-gradient(to right,
    var(--very-light-red),
    var(--light-red)
    );
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

.intro img {
    position: absolute;
}

.intro h1, .intro p, .intro div {
    position: relative;
    z-index: 5;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: .5em;
    color: white;
}

.intro-btn {
    font-weight: 700;
    margin-top: 3em;
    font-size: 1rem;
}

.start-free {
    font-family: var(--ubuntu);
    color: var(--cta-text);
    padding: 10px 20px;
    background-color: white;
    border-radius: 50px;
    margin-right: 10px;
}

.start-free:hover {
    color: white;
}

.learn-more {
    font-family: var(--ubuntu);
    color: white;
    padding: 10px 20px;
    border: solid 1px white;
    border-radius: 50px;
}
.cta {
    transition: 150ms;
}

.cta:hover {
    background-color: var(--cta-hover-background);
}

.menu {
    position: absolute;
    z-index: 10;
    width: 90vw;
    height: auto;
    /* max-height: 100vh; */
    background-color: white;
    margin: 1em;
    /* padding-top: 50px; */
    bottom: 0;
    /* top: 300px; */
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translate(22px, -22px); */
    /* overflow: scroll; */
}

.menu button {
    color: var(--very-dark-grey-blue);

}

.menu .main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

/* .menu .product, .menu .company {
    margin-bottom: 2rem;
} */

.menu p {
    font-family: var(--ubuntu);
    font-weight: 600;
    font-size: 1rem;
}

/* .menu img {
    width: 1rem;
} */

.close-btn {
    display: block;
    position: absolute;
    z-index: 50;
    right: 0;
    top: -80px;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 1rem;
    border-radius: 5px;
}

.close-btn img {
    display: block;
    width: 1rem;
}


.menu .main-menu button{
    background-color: transparent;
    border: none;
    font-family: var(--ubuntu);
    font-weight: 500;
    padding: 1rem;
    display: inline-block;
    width: 100%
}

.accordion-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .menu-cta a {
    display: block;
}


.menu .menu-cta {
    padding: 2rem 3rem;
    border-top: solid 1px var(--very-dark-desaturated-blue);
    font-family: var(--ubuntu);
    font-weight: 600;
    font-size: 1rem;
    color: var(--body-copy);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .menu-cta .burger-login {
    font-family: var(--ubuntu);
    font-weight: 600;
    font-size: 1rem;
    color: var(--body-copy);
    padding: 1rem 3rem;
    border-radius: 100px;
    margin-bottom: 1em;
}

.menu .menu-cta .burger-signup {
    font-family: var(--ubuntu);
    font-weight: 600;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right,
    var(--very-light-red),
    var(--light-red)
    );

    padding: 1rem 3rem;
    border-radius: 100px;
}

.panel {
    width: 100%;
    border-radius: 10px;
    background-color: var(--footer-text);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel a {
    color: var(--very-dark-grey-blue);
    font-family: var(--ubuntu);
    padding: 1rem;
}


.product-panel {
    display: none;
}

.company-panel {
    display: none;
}

.connect-panel {
    display: none;
}
